:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

html{
  font-size: 13px;
}

body{
  margin: 0;
}

img{
  max-width: 100%;
}
.wrapper{
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 85%;
  /* margin-inline: auto; */
  padding-block: 5rem;
  max-width: 24.53rem;
}

.card{
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img__container{
  display: flex;
  height: 215px;
}
.img__container img{
  object-fit: cover;
  object-position: top;
}

.article__container{
  padding-top: 2rem;
  color: var(--very-dark-grayish-blue);
}
h1{
  padding-inline: 2.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}
p{
  padding-inline: 2.25rem;
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  font-size: 1.015rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
footer{
  display: flex;
  padding-inline: 2.25rem;
  padding-bottom: 2rem;
  align-items: center;
}
footer img{
  width: 40px;
  border-radius: 50%; 
  margin-right: 1rem;
}
h2{
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}
footer span{
  color: var(--desaturated-dark-blue);
  font-size: 0.9rem;
}
button img{
  /* border-radius: 50%; */
  width: 17px;
  margin: 0;
}
button{
  margin-left: auto;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-state__display{
  display: none;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  padding: 1.35rem 2rem;
  color:  var(--grayish-blue);
}
.active-state__display span{
  letter-spacing: 0.4rem;
  margin-right: 1rem;
}
.links{
  display: flex;
  gap: 1.2rem;
}
.links img{
  cursor: pointer;
  width: 20px;
}
.active-state--btn{
  width: 28px;
  background-color: var(--grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-state--btn img{
  /* TODO: conver color to white */
  filter: grayscale(100%);
}

@media (min-width: 37.5rem){
  .container{
    /* flex-direction: row; */
    max-width: 52rem;
  }
  .card{
    flex-direction: row;
  }
  .img__container{
    width: 40%;
    height: auto;
  }
  .img__container img{
    object-position: left;
  }
  h1{
    font-size: 1.45rem;
    margin-top: 0;
  }
  .article__container{
    width: 60%;
  }
}