:root{
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*{
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

html{
  font-size: 13px;
}

body{
  margin: 0;
}

img{
  width: 100%;
}
.wrapper{
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 85%;
  max-width: 24.53rem;
}

.card{
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 25px -15px var(--grayish-blue);
}

.img__container{
  display: flex;
  height: 215px;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.img__container img{
  object-fit: cover;
  object-position: top;
}

.article__container{
  padding-top: 2rem;
  color: var(--very-dark-grayish-blue);
}
h1{
  padding-inline: 2.25rem;
  font-size: 1.25rem;
  font-weight: 700;
}
p{
  padding-inline: 2.25rem;
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  font-size: 1.015rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

footer{
  display: flex;
  padding-inline: 2.25rem;
  padding-block: 0.5rem 1.5rem;
  align-items: center;
}
footer.hide{
  display: none;
}
footer.show{
  display: flex;
}
footer img{
  width: 40px;
  border-radius: 50%; 
  margin-right: 1rem;
}
h2{
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}
footer span{
  color: var(--desaturated-dark-blue);
  font-size: 0.9rem;
}
button img{
  width: 16px;
  margin: 0;
}
button{
  margin-left: auto;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  background-color: var(--light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;

  &:active{
    background-color: var(--desaturated-dark-blue);
  }
  &:active img{
    filter: brightness(0%) invert(100%);
  }
}

.active-state__mobile-display{
  display: none;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  padding: 1.384rem 2.25rem;
  color:  var(--grayish-blue);
  border-radius: 0 0 1rem 1rem;
}
.active-state__mobile-display.show{
  display: flex;
}
.active-state__mobile-display.hide{
  display: none;
}
.active-state__desktop-display{
  display: none;
}

.active-state__mobile-display span{
  letter-spacing: 0.4rem;
  margin-right: 1rem;
}
.links{
  display: flex;
  gap: 1.2rem;
}
.links img{
  cursor: pointer;
  width: 18px;
  transition: all 0.2s ease;

  &:hover{
    scale: 1.2;
    filter: brightness(75%) grayscale(1%);
  }
}
.active-state--btn{
  width: 30px;
  background-color: var(--desaturated-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-state--btn img{
  width: 14px;
  filter: brightness(0%) invert(100%);
}

@media (min-width: 37.5rem){
  .container{
    max-width: 53rem;
  }
  .card{
    flex-direction: row;
  }
  .img__container{
    border-radius: 1rem 0 0 1rem;
    width: 40%;
    height: auto;
  }
  .img__container img{
    object-position: left;
  }
  h1{
    font-size: 1.45rem;
    margin-top: 0;
  }
  footer{
    padding-block: 0 2rem;
  }
  footer.hide{
    display: flex;
  }
  .article__container{
    width: 60%;
    position: relative;
  }
  /* .active-state__mobile-display{
    display: none;
  } */
  .active-state__mobile-display.show{
    display: none;
  }
  button.active{
    background-color: var(--desaturated-dark-blue);
  }
  button img.active{
    filter: brightness(0%) invert(100%);
  }

  .active-state__desktop-display{
    display: none;
    position: absolute;
    z-index: 100;
    right: -5rem;
    bottom: 7rem;
    padding: 1.25rem 2.2rem;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 1rem;
    color: var(--grayish-blue);

    &::after {
      content: "";
      position: absolute;
      bottom: -0.85rem;
      right: 95px;
      width: 0px;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid var(--very-dark-grayish-blue);
  }
  }
  .active-state__desktop-display.show{
    display: flex;
  }
  .active-state__desktop-display span{
    letter-spacing: 0.4rem;
    margin-right: 1rem;
  };
}